<app-business-header></app-business-header>
<div id="home">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block h-25 w-100" src="../../assets/imag1.jpeg" alt="First slide">
        <div class="carousel-caption">
          <div class="section-headline text-center">
            <h4 style="color:aliceblue ;">we build the nation</h4>
            <h3 style="color : aliceblue ;">G D SONAWANE Pvt Ltd</h3>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block h-25 w-100" src="../../assets/imag1.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block h-25 w-100" src="s../../assets/imag1.jpeg" alt="Third slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  
  </div>
</div>

<div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>About Company</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
                <img src="../../assets/1.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">project Maintenance</h4>
              </a>
              <p>
                GDS has been doing civil and infrastructure work for the last over 20 years. GDS has already completed Earth Development Works, Roads & Highways Projects, Consultancy and other site execution works successfully of M/s Indu Projects Limited, M/s IVRCL Infrastructure & Projects Limited, PSK Infrastructure Projects Limited, BSE & C&C (JV) , MBL Infrastructure Ltd. etc .
              </p>
              <ul>
                <li>
                  <i class="bi bi-people"></i> Aditi Infrabuild delivers quality and satisfaction to each of its customers, including some of the industry's giants.
                </li>
                <li>
                  <i class="bi bi-card-checklist"></i> Make Quality Products
                </li>
                <li>
                  <i class="bi bi-check"></i> Building House
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
</div>

<!-- ======= Services Section ======= -->
<div id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <!-- Start Left services -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-briefcase"></i>
                </a>
                <h4>Ready Mix Concreate Provider</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-card-checklist"></i>
                </a>
                <h4>Creative Designer</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-binoculars"></i>
                </a>
                <h4>Social Marketer </h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <!-- End Left services -->
        <!-- End Left services -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <!-- end col-md-4 -->
          <div class=" about-move">
            <div class="services-details">
              <div class="single-services">
                <a class="services-icon" href="#">
                  <i class="bi bi-calendar4-week"></i>
                </a>
                <h4>24/7 Support</h4>
                <p>
                  will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Services Section -->

<!-- ======= Contact Section ======= -->
<div id="contact" class="contact-area">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Contact us</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-phone"></i>
              <p>
                Call: +1 5589 55488 55<br>
                <span>Monday-Friday (9am-5pm)</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-envelope"></i>
              <p>
                Email: info@example.com<br>
                <span>Web: www.example.com</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-geo-alt"></i>
              <p>
                Location: A108 Adam Street<br>
                <span>NY 535022, USA</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <!-- Start Google Map -->
        <div class="col-md-12 align-items-center">
          <!-- Start Map -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1616.2904416537733!2d73.85254155135034!3d18.72114019014452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c972b872f731%3A0x19bd47fd877575c7!2sG%20D%20Sonawane%20RMC!5e1!3m2!1sen!2sin!4v1667720964873!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <!-- End Map -->
        </div>
        <!-- End Google Map -->
      </div>
    </div>
  </div>
</div><!-- End Contact Section -->

<app-business-footer></app-business-footer>